RestaurantManagerClient/Connected Services/RestaurantService/RestaurantWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Login">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoginResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getReservations">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getReservationsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getReservationsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="deleteReservation">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="deleteReservationResponse">
        <s:complexType />
      </s:element>
      <s:element name="addReservation">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Firstname" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Lastname" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Phonenumber" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="PartySize" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="Date" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="Hour" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="Minute" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="RestaurantId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="addReservationResponse">
        <s:complexType />
      </s:element>
      <s:element name="editReservation">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ReservationId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="clientId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Firstname" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Lastname" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Phonenumber" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="PartySize" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="Date" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="Hour" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="Minute" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="RestaurantId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="editReservationResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="LoginSoapIn">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="LoginSoapOut">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="getReservationsSoapIn">
    <wsdl:part name="parameters" element="tns:getReservations" />
  </wsdl:message>
  <wsdl:message name="getReservationsSoapOut">
    <wsdl:part name="parameters" element="tns:getReservationsResponse" />
  </wsdl:message>
  <wsdl:message name="deleteReservationSoapIn">
    <wsdl:part name="parameters" element="tns:deleteReservation" />
  </wsdl:message>
  <wsdl:message name="deleteReservationSoapOut">
    <wsdl:part name="parameters" element="tns:deleteReservationResponse" />
  </wsdl:message>
  <wsdl:message name="addReservationSoapIn">
    <wsdl:part name="parameters" element="tns:addReservation" />
  </wsdl:message>
  <wsdl:message name="addReservationSoapOut">
    <wsdl:part name="parameters" element="tns:addReservationResponse" />
  </wsdl:message>
  <wsdl:message name="editReservationSoapIn">
    <wsdl:part name="parameters" element="tns:editReservation" />
  </wsdl:message>
  <wsdl:message name="editReservationSoapOut">
    <wsdl:part name="parameters" element="tns:editReservationResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService1Soap">
    <wsdl:operation name="Login">
      <wsdl:input message="tns:LoginSoapIn" />
      <wsdl:output message="tns:LoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getReservations">
      <wsdl:input message="tns:getReservationsSoapIn" />
      <wsdl:output message="tns:getReservationsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="deleteReservation">
      <wsdl:input message="tns:deleteReservationSoapIn" />
      <wsdl:output message="tns:deleteReservationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="addReservation">
      <wsdl:input message="tns:addReservationSoapIn" />
      <wsdl:output message="tns:addReservationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="editReservation">
      <wsdl:input message="tns:editReservationSoapIn" />
      <wsdl:output message="tns:editReservationSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService1Soap" type="tns:WebService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getReservations">
      <soap:operation soapAction="http://tempuri.org/getReservations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteReservation">
      <soap:operation soapAction="http://tempuri.org/deleteReservation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addReservation">
      <soap:operation soapAction="http://tempuri.org/addReservation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="editReservation">
      <soap:operation soapAction="http://tempuri.org/editReservation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1Soap12" type="tns:WebService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap12:operation soapAction="http://tempuri.org/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getReservations">
      <soap12:operation soapAction="http://tempuri.org/getReservations" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteReservation">
      <soap12:operation soapAction="http://tempuri.org/deleteReservation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addReservation">
      <soap12:operation soapAction="http://tempuri.org/addReservation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="editReservation">
      <soap12:operation soapAction="http://tempuri.org/editReservation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService1">
    <wsdl:port name="WebService1Soap" binding="tns:WebService1Soap">
      <soap:address location="https://localhost:44396/RestaurantWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1Soap12" binding="tns:WebService1Soap12">
      <soap12:address location="https://localhost:44396/RestaurantWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>